@using DoktoraSor.WebApp
@model DoktoraSor.Entities.Sales

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_OperationLayoutPage.cshtml";
}

<link href="~/Content/validation-summary.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="col-md-10">
            <div class="kt-portlet">
                <form class="kt-form">
                    <div class="kt-portlet__body kt-portlet">
                        <div class="form-group form-group-last">
                            <div class="alert alert-secondary" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                                <div class="alert-text">
                                    Satış Detayları
                                </div>
                            </div>
                        </div>
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsPay, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.IsPay)

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PayCount, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PayCount, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AccountBalance, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AccountBalance, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MessageAndQuestionCount, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MessageAndQuestionCount, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @MyBootstrap.Button("success", "btn-sm", "submit", "floppy-o", " Kaydet", string.Empty)
                                    @MyBootstrap.LinkButton("/Sales/Index/", "primary", "btn-sm", string.Empty, "arrow-left", "Geri")
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
